body {
  padding: 0;
  margin: 0;
  max-width: 1680px;
  position: relative;
  top: 80px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  margin: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0px;
  border: none;
  cursor: pointer;
}

.container {
  padding-left: 120px;
  padding-right: 120px;
}

.divider {
  border: 8px solid #E08631;
  border-radius: 5px;
  width: 42px;
  margin: 0px auto 0px;
}

.divider-start {
  border: 8px solid #E08631;
  border-radius: 5px;
  width: 42px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  align-items: center;
  background-color: #52503B;
  position: fixed;
  top: 0;
}

.page-header__nav {
  display: flex;
  font-family: 'Montserrat';
  font-size: 15px;
  line-height: 1.33;
  color: #FFFFFF;
}

.page-header__item:not(:last-child) {
  margin-right: 24px;
}

.page-header__button {
  width: 117px;
  height: 42px;
  background: #FFFFFF;
  border-radius: 6px;
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 1.25;
  color: #52503B;
}

.hero-background {
  background-image: url(../images/background_hero_11zon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 720px;
}

.hero__title {
  padding-bottom: 33px;
  font-family: 'Montserrat';
  font-size: 48px;
  line-height: 1.1;
  text-align: center;
  color: #FFFFFF;
  font-weight: 400;
}

.hero__text {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 2px;
  color: #FFFFFF;
  padding-bottom: 113px;
}

.hero__logo {
  padding-top: 168px;
  padding-bottom: 37px;
}

.sub-hero {
  display: flex;
  justify-content: center;
  padding-bottom: 90px;
}

.sub-hero__text {
  max-width: 360px;
  padding-right: 40px;
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 1.42;
  color: #333333;
}

.sub-hero__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  background: #52503B;
  border-radius: 6px;
  width: 107px;
  height: 42px;
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 1.42;
  color: #FFFFFF;
}

.quest-house {
  background: #FAF8F0;
}

.quest-house__title {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  color: #52503B;
  text-align: center;
  margin-bottom: 140px;
}

.quest-house__image {
  margin-bottom: 100px;
}

.quest-house__sleeping-arrangements {
  margin-top: 30px;
}

.quest-house__sleeping-arrangements-title {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 32px;
  line-height: 1.13;
  text-align: center;
  color: #52503B;
  margin-bottom: 14px;
}

.quest-house__sleeping-arrangements-text {
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 1.5;
  color: #52503B;
  max-width: 600px;
  text-align: center;
  margin: 0px auto;
  margin-bottom: 32px;
}

.quest-house__list {
  display: flex;
  justify-content: space-between;
}

.quest-house__item {
  width: 370px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quest-house__item-title {
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #52503B;
  font-weight: 400;
  margin-top: 12px;
}

.quest-house__item-text {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  color: #52503B;
}

.the-perfect-escape {
  padding-top: 100px;
}

.the-perfect-escape__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.the-perfect-escape__item {
  display: flex;
  padding-bottom: 32px;
  width: calc((100% - 32px) / 2);
}

.the-perfect-escape__title {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 32px;
  line-height: 1.13;
  color: #52503B;
  padding-top: 30px;
  padding-bottom: 14px;
}

.the-perfect-escape__text {
  max-width: 600px;
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 1.5;
  color: #52503B;
  padding-bottom: 30px;
}

.the-perfect-escape__text-item {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 1.43;
  color: #52503B;
  padding-left: 16px;
}

.come-together {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

.come-together__left-part {
  width: calc((100% - 64px)/ 2);
}

.come-together__right-part {
  width: calc((100% - 64px)/ 2);
}

.come-together__list {
  display: flex;
  flex-wrap: wrap;
}

.come-together__title {
  padding-top: 30px;
  padding-bottom: 12px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 32px;
  line-height: 1.13;
  color: #52503B;
}

.come-together__text {
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 1.5;
  color: #52503B;
}

.come-together__svg-text {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 1.43;
  color: #333333;
  padding-left: 16px;
}

.come-together__item {
  display: flex;
  width: calc((100% - 37px)/ 2);
  padding-bottom: 32px;
}

.booked {
  background-color: #FAF8F0;
  padding-top: 100px;
  padding-bottom: 30px;
}

.booked__text {
  font-family: 'Montserrat';
  font-size: 32px;
  line-height: 1.1;
  text-align: center;
  color: #52503B;
}

.booked__sub-text {
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #52503B;
}

.wrapper {
  max-width: 600px;
  margin: 0px auto;
}

.button-contact {
  border: 4px solid #52503B;
  border-radius: 6px;
  width: 107px;
  height: 42px;
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #52503B;
}
/*# sourceMappingURL=main.css.map */