.booked {
    background-color: $section-backgraund-color;
    padding-top: 100px;
    padding-bottom: 100px;
    &__text {
        font-family: 'Montserrat';
        font-size: 32px;
        line-height: 1.1;
        text-align: center;
        color: $text-color;
    padding-top: 30px;
    padding-bottom: 12px;
    }
    &__sub-text {
        font-family: 'Montserrat';
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        color: $text-color;
        padding-bottom: 20px;
    }
}
.wrapper {
    max-width: 600px;
    margin: 0px auto;
}

.button-contact {
    border: 4px solid $brend-color;
    border-radius: 6px;
    width: 107px;
    height: 42px;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: $brend-color;
    margin-right: 20px;
}
.wrap-button {
    display: flex;
    justify-content: center;
}
