footer {
    background-color: $brend-color;
    padding-top: 100px;
}
.wrapper-footer {
    display: flex;
    justify-content: space-between;
}

.pages {
    &__title {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 14px;
        line-height: 1.43;
        letter-spacing: 2px;
        color: $text-color3;
        text-transform: uppercase
    }
    &__item {
        font-family: 'Montserrat';
        font-size: 14px;
        line-height: 1.43;
        color: $text-color3;
        padding-top: 12px;
    }
}

.social-media {
    &__title {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 14px;
        line-height: 1.43;
        letter-spacing: 2px;
        color: $text-color3;
        text-transform: uppercase;
    }
    &__list {
        padding-top: 20px;
        display: flex;
    }
}

.newsletter {
    width: 50%;

    &__title {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 14px;
        line-height: 1.43;
        letter-spacing: 2px;
        color: $text-color3;
        text-transform: uppercase;
    }
    &__text {
        font-family: 'Montserrat';
        font-size: 14px;
        line-height: 1.43;
        color: $text-color3;
        margin-bottom: 10px;
        max-width: 562px;

    }
    &__input {
        padding-left: 30px;
        padding-top: 16px;
        padding-bottom: 16px;
        width: 562px;
        background: $section-backgraund-color;
        border: 1px solid #E5E7EB;
        border-radius: 8px;
    }
    &__form {
        max-width: 576px;
        position: relative;
    }
}

.input-button {
    background-color: $brend-color;
    color: $text-color3;
    position: absolute;
    right: 20px;
    top: 7px;
    padding: 10px;
    border-radius: 10px;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__logo {
        padding-top: 48px;
    }
}

.info-contacts {
    padding-top: 20px;
    padding-bottom: 110px;
}

.info-text  {
    padding-top: 20px;
}