.page-header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    background-color: $brend-color;
    position: fixed;
    top: 0;
    opacity: 75%;
    &__nav {
        display: flex;
        font-family: 'Montserrat';
        font-size: 15px;
        line-height: 1.33;
        color: $text-color3;
    }
    &__item:not(:last-child) {
        margin-right: 24px;
    }

    &__button {
        width: 117px;
        height: 42px;
        background: #FFFFFF;
        border-radius: 6px;
        font-family: 'Montserrat';
        font-size: 16px;
        line-height: 1.25;
        color: $text-color;
    }
}

