.divider {
    border: 8px solid #E08631;
    border-radius: 5px;
    width: 42px;
    margin: 0px auto 0px;
}

.divider-start {
    border: 8px solid #E08631;
    border-radius: 5px;
    width: 42px;
}
