.divider {
    border: 8px solid #E08631;
    border-radius: 5px;
    width: 42px;
    margin: 100px auto 32px;
}

.divider-start {
    border: 8px solid #E08631;
    border-radius: 5px;
    width: 42px;
}